@import '../public.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;

  header {
    background-color: $main-color;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 5px;

    h1 {
      margin: 0;
      font-family: Roboto, sans-serif;
      color: white;
    }
  }

  main {
    display: flex;
    flex-basis: 100%;
    max-height: calc(100% - 50px);

    .list {
      background-image: linear-gradient(to top, black, #001585);
      color: white;
      font-family: Roboto, sans-serif;
      flex-basis: 250px;
      display: flex;
      flex-direction: column;

      input {
        width: 90%;
        align-self: center;
        outline: none;
        background-color: rgb(255 255 255 / 38%);
        border: none;
        padding: 10px;
        box-sizing: border-box;
        color: white;
        margin: 20px;
        border-radius: 10px;
        font-size: 18px;
      }

      input::placeholder {
        color: silver;
      }

      > ul {
        padding: 10px;
        flex-basis: calc(100% - 35px);
        max-height: calc(100% - 35px);
        overflow: auto;
        margin: 0;

        > li {
          list-style: none;

          .nodeIcon:hover {
            color: yellow;
            cursor: pointer;
          }

          > ul {
            padding-left: 25px;

            > li {
              cursor: pointer;
              list-style: none;
              user-select: none;
            }

            > li:hover {
              color: rgba(255, 217, 0, 0.959);
            }
          }
        }
      }
    }

    .cams {
      display: grid;
      gap: 0;
      width: calc(100% - 252px);
      height: 100%;
      grid-gap: 1px;

      iframe {
        width: 100%;
        height: 100%;
        background-color: rgb(24, 23, 23);
        border: solid 1px silver;
      }

      footer {
        background-color: black;
        border: solid 1px black;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: solid 1px silver;

        span {
          color: white;
          border: solid 1px white;
          margin: 3px;
          font-family: Roboto, sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          font-size: 22px;
        }

        span:hover {
          background-color: rgba(255, 255, 255, 0.113);
          cursor: pointer;
        }
      }
    }
  }
}
